:root {
    --strongColor: rgb(143, 53, 53);
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --greyColor: #3b3b3b;
    --primaryFont: Georgia, 'Times New Roman', Times, serif;
    --secondaryFont: "Arial", sans-serif;
    --smallTitleFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
}

* {
    box-sizing: border-box;
}

header {
    font-family: var(--headerFontSize);
    font-size: var(--headerFontSize);
    color: var(--blackColor);
}

body {
    font-family: var(--secondaryFont);
    font-size: var(--bodyFontSize);
    color: var(--greyColor);
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ==== HEADER & NAV ==== */

header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: var(--whiteColor);
    box-shadow: 0px -6px 20px;
}

#header-div {
    width: 100%;
    height: 44px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

#header-logo {
    width: 84px;
    height: auto;
    border-radius: 0;
}

#header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hamburguer-menu-icon {
    width: 8%;
    display: block;
    cursor: pointer;
}

#hamburguer-menu-icon.active {
    cursor: pointer;
}

.bar {
    display: block;
    max-width: 36px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--blackColor);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#hamburguer-menu-icon.active .bar:nth-child(1) {
    opacity: 0;
}

#hamburguer-menu-icon.active .bar:nth-child(2) {
    transform: translateY(4px) rotate(45deg);
}

#hamburguer-menu-icon.active .bar:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
}

a {
    all: unset;
    cursor: pointer;
}

nav {
    font-size: 1.125rem;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 60px;
    left: 0;
    gap: 0;
    text-align: center;
    box-shadow: inset 0px 8px 24px lightgrey;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

nav.active {
    transform: translateX(0px);
    transition-delay: .2s;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 36px;
    margin-bottom: 36px;
}

nav ul li {
    color: var(--yourColor);
}


@media (min-width: 992px) {
    #header-div {
        width: 80%;
        max-width: 90rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 36px;
        font-size: 1rem;
    }

    #header-logo {
        width: 96px;
    }

    #hamburguer-menu-icon {
        display: none;
    }

    nav {
        width: auto;
        position: inherit;
        top: 0;
        left: 0;
        box-shadow: none;
        transition: none;
        transform: none;
    }

    nav ul {
        flex-direction: row;
        margin: 0 auto;
        gap: 36px;
    }

    .nav-li-element {
        background: 
           linear-gradient(currentColor 0 0) 
           var(--d, 201%) 100% /200% 2px 
           no-repeat;
      }
      
    .nav-li-element:hover {
        --d: -101%;
        transition: 0.75s
    }

    nav ul a {
        font-size: 1.125rem;
    }
}