@font-face {
    font-family: "Monsterrat";
    src: 
        url("Fuentes/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype"),
        url("Fuentes/Montserrat/webfontkit-20241208-085925/montserrat-variablefont_wght-webfont.woff") format("woff"),
        url("Fuentes/Montserrat/webfontkit-20241208-085925/montserrat-variablefont_wght-webfont.woff2") format("woff2");
}

:root {
    --strongColor: rgb(143, 53, 53);
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --lightGreyColor: #474747;
    --greyColor: #3b3b3b;
    --primaryFont: Georgia, 'Times New Roman', Times, serif;
    --secondaryFont: "Rubik", sans-serif;
    --smallTitleFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
}

button {
    all: unset;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    all: unset;
}

img {
    width: 100%;
    border-radius: 4px;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    font-family: var(--primaryFont);
    font-size: var(--headerFontSize);
    color: var(--blackColor);
}

body {
    font-family: var(--secondaryFont);
    font-size: var(--bodyFontSize);
    color: var(--greyColor);
}

.common-padding {
    max-width: 90rem;
    padding: 0 4%;
}

h1, h2, h3, .small-title {
    font-family: var(--primaryFont);
    color: var(--blackColor);
    margin: 1rem auto;
}

p {
    color: var(--blackColor);
}

button {
    min-width: 12rem;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    cursor: pointer;
}

.call-to-action {
    color: var(--whiteColor);
    border: 1px solid var(--whiteColor);
    border-radius: 4px;
    text-transform: uppercase;
}

.call-to-action:hover {
    color: var(--blackColor);
    background-color: var(--whiteColor);
    border: 1px solid var(--whiteColor);
}

.button-underline a {
    padding: 0.5rem;
    background: 
       linear-gradient(90deg, currentColor calc(100%/3), transparent 0 calc(200%/3), currentColor 0) 
       var(--d, 0%) 100% / 300% 3px
       no-repeat;
    transition: 0.5s;
}

.button-underline:hover a {
    --d: 100%;
}


/* ==== HEADER & NAV ==== */

header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

header::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 0vh;
    background-color: #00000099;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    top: 0;
    right: 0;
    z-index: -11;
    transition: 
        height 0s ease-in-out, 
        opacity 0.3s ease-in-out;
}

header.scrolled {
    background-color: var(--whiteColor);
    transition: background-color 0.3s ease-in-out;
}

header.active::before {
    height: 150vh;
    opacity: 1;
}

header.deactivate::before {
    opacity: 0;
}

#header-div {
    width: 100%;
    height: auto;
    padding: 1rem;
}

#header-div a {
    line-height: 0;
}

#header-logo {
    width: 100px;
    height: auto;
    border-radius: 0;
    vertical-align: middle;
    
}

#header-logo g, #header-logo path {
    fill: white;
    transition: all 0.3s ease-in-out;
}

#header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hamburguer-menu-icon {
    width: 8%;
    display: block;
    cursor: pointer;
    margin: 0;
    z-index: 1000;
}

.bar {
    display: block;
    max-width: 36px;
    height: 3px;
    margin: 5px auto;
    z-index: 1000;
    background-color: var(--whiteColor);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#hamburguer-menu-icon.active .bar:nth-child(1) {
    opacity: 0;
}

#hamburguer-menu-icon.active .bar:nth-child(2) {
    transform: translateY(4px) rotate(45deg);
    background-color: var(--blackColor);
}

#hamburguer-menu-icon.active .bar:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
    background-color: var(--blackColor);
}

header.scrolled .bar {
    background-color: var(--blackColor);
}

header.scrolled #header-logo g, 
header.scrolled #header-logo path {
    fill: var(--blackColor);
}

header.scrolled #header-logo.light g, 
header.scrolled #header-logo.light path {
    fill: var(--whiteColor);
}

a {
    all: unset;
    cursor: pointer;
}

nav {
    font-size: 1.125rem;
    width: 63%;
    height: 100vh;
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 0;
    left: 37%;
    gap: 0;
    text-align: center;
    box-shadow: inset 0px 8px 24px lightgrey;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

nav.active {
    transform: translateX(0px);
    transition-delay: .2s;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 6rem 0;
}

nav ul li {
    color: var(--blackColor);
}

/* ==== STATEMENT ==== */

#estrategia-impositiva {
    background-image: url("Imagenes/background-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#estrategia-impositiva .common-padding {
    color: var(--whiteColor);
    padding-top: 8rem;
    padding-bottom: 6rem;
    text-align: center;
}

#estrategia-impositiva h1 {
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 2.5rem;
    padding-top: 1rem;
    color: var(--whiteColor);
}

#estrategia-impositiva p {
    color: var(--whiteColor);
    font-size: 1.25rem;
    line-height: 2.375rem;
    font-weight: 300;
    padding: 0.25rem 0;
}

#button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 0;
}

#servicios-div-card ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.servicios-card {
    position: relative;
    width: 100%;
}

.servicios-card::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    display: block;
    z-index: 10;
    content: '';
    background: linear-gradient(to bottom,rgba(15,15,15,0),rgba(30, 30, 30, 0.75) 100%);
}

.servicios-card a {
    position: relative;
    width: 100%;
    min-height: 180px;
    display: flex;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    box-shadow: inset 0 -12px -6px black;
    transition: background-size 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.servicios-card a:hover {
    background-size: 120%;
}

.servicios-card a,
.servicios-card a::before,
.servicios-card::before {
    border-radius: 8px;
}

.servicios-card a::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    display: block;
    z-index: 10;
    content: '';
    opacity: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000 100%);
    transition: all 0.5s ease;
}

.servicios-card a:hover::before {
    opacity: 1;
}

.servicios-card h3 {
    font-size: 1.375rem;
    align-self: flex-end;
    margin: 1.25rem;
    z-index: 100;
    color: var(--whiteColor);
}

#card-servicio-sociedades {
    background-image: url(Imagenes/empresa-1.jpg);
}

#card-servicio-personas {
    background-image: url(Imagenes/personal-1.jpg);
}

#card-servicio-patrimonio {
    background-image: url(Imagenes/patrimonio-1.jpg);
}


@media (min-width: 992px) {
    #header-div {
        width: 80%;
        max-width: 90rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 36px;
        font-size: 1rem;
    }

    #header-logo {
        width: 96px;
    }

    #hamburguer-menu-icon {
        display: none;
    }

    nav {
        width: auto;
        position: inherit;
        top: 0;
        left: 0;
        box-shadow: none;
        transition: none;
        transform: none;
    }

    nav ul {
        flex-direction: row;
        margin: 0 auto;
        gap: 36px;
    }

    .nav-li-element {
        background: 
           linear-gradient(currentColor 0 0) 
           var(--d, 201%) 100% /200% 2px 
           no-repeat;
      }
      
    .nav-li-element:hover {
        --d: -101%;
        transition: 0.75s
    }

    nav ul a {
        font-size: 1.125rem;
    }
}